[Unit]
Description=Docker extra: {{ docker_extra_name | mandatory }}
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
Environment="TERM=dumb"
RemainAfterExit=true

ExecStart=/usr/bin/env sh -c 'docker ps --format "{% raw %}{{.Names}}{% endraw %}" -a | grep -q -x "{{ docker_extra_name | mandatory }}" && docker start "{{ docker_extra_name | mandatory }}" || docker run -d --name "{{ docker_extra_name | mandatory }}" {{ docker_extra_parameters | mandatory }}'
ExecStop=/usr/bin/docker stop "{{ docker_extra_name | mandatory }}"

[Install]
WantedBy=multi-user.target
